* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 808px;
    background-size: cover;
    text-align: right;

}

.container-child {
    padding-top: 200px;
    padding-left: 550px;
    padding-right: 100px;
    padding-bottom: 166px;
}

.header-title {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-depiction {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding: 40px 0px;
    line-height: 2;
}

.btn-primary {
    color: #005FAC;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #FFF;
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    border: 0px;
}

.previous-content {
    display: flex;
    padding: 50px 100px;
    gap: 70px;
}

.child {
    width: 50%;

}

.title-text {
    margin-top: 300px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    width: 288px;
    margin-bottom: 20px;
}

.title-depiction {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 10px;
}

ul>li {

    color: #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    list-style: none;
}

ul>li>i {
    padding-right: 10px;
    color: #005FAC;
    font-weight: 400;
}

.plans-title-text {
    margin-top: 70px;
    color: #151414;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
}

.work-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 150px;
    margin-bottom: 150px;
    text-align: center;
}

.work-title {
    margin-top: 10px;
    color: #151414;
    font-size: 30px;
    font-weight: 700;
}

.work-depiction {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

.call-section {
    width: 1140px;
    height: 300px;
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px auto;

}

.call-text {
    color: #FFF;
    width: 459px;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 40px;
}

.call-content {
    padding-top: 60px;
    padding-left: 63px;
}

.divisor-150 {
    height: 150px;
}

.footer {
    background: #151414;
    color: #FFF;
}

.footer-container {
    display: flex;
    width: 1140px;
    margin: 0px auto;
}

.footer-child {
    width: 50%;
}

.footer-title {
    margin-top: 130px;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 15px;

}

.footer-depiction {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.social-icon>img {
    padding: 10px;
    margin-bottom: 130px;
}

.Subscribe {
    margin-left: 200px;
}

.footer-title2 {
    margin-top: 130px;
    font-size: 25px;
    font-weight: 600;
}

.input-box {
    width: 325px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: #151414;
    color: #FFF;
    border: 1px solid #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 40px;
}